version: '3'
services:
    my_site:
      image: dev-server:latest
      build:
        context: .
      restart: always
      ports:
       - "127.0.0.1:8091:80"
      volumes:
       - /absolute/path/to/my/project:/var/app
       - ./.composer:/root/.composer
      links:
       - mysql:db
      tty: true # Pretty colors
    phpmyadmin:
      image: phpmyadmin/phpmyadmin
      restart: always
      ports:
       - "127.0.0.1:8090:80"
      links:
       - mysql:db
    mysql:
      image: mysql:latest
      restart: always
      ports:
       - "127.0.0.1:3307:3306"
      volumes:
       - db_data:/var/lib/mysql

volumes:
  db_data: {}


